*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: aqua;
  height: 100%;
  width: 100%;
  background-image: url('../public/images/img2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  display: flex;
  flex-wrap: nowrap;
  position:absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  top:50%;
  left:80%;
  transform:translate(-50%,-50%);
  border:2px solid black;
  padding:50px;
}
@media (max-width: 768px) {
  .container {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 20px;
  }
}
.container .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.btn{
  color:black;
  font-size: 16px;
  
}
form .data label{
  font-size: 20px;
}
form .data input:focus{
  border-color: red;
  border-bottom-width:2px;
  
}
.error{
  color:red;

}
.good{
  color:green;
}

h1{
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  border: 2px solid black;
  table-layout: fixed;
  
}
a{
  color:black;
  text-decoration: none;
}


td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-size: 23px;
  font-style: bold;
  color: black;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
button{
  background-color: red;
}





